{% import 'main/includes/helpers.jinja2' as helpers %}


{{  helpers.display_header(artist + " Analysis", [static('main/styles/style.css'), static('stats/styles/style.css')]) }}
<h1>{{ artist }}</h1>

<div>
    <a href="{{ url('stats:index') }}">Home</a>
</div>

<a </a>

{{  helpers.display_footer() }}