{% import 'main/includes/helpers.jinja2' as helpers %}
{% import 'stats/includes/helpers.jinja2' as stats_helpers %}


{{ helpers.display_top_header(artist + " Analysis", [static('main/styles/style.css'), static('stats/styles/style.css')]) }}
{{ helpers.display_bottom_header("nav-body") }}
{{ stats_helpers.navbar(artist, artist) }}

<div class="main-content">
    <h1>{{ artist }}</h1>
</div>
{{  helpers.display_footer() }}