{% import 'main/includes/helpers.jinja2' as helpers %}
{% import 'stats/includes/helpers.jinja2' as stat_helpers %}

{{ helpers.display_top_header("Music Analysis", [static('main/styles/style.css'), static('stats/styles/style.css')], []) }}
{{ helpers.display_bottom_header("nav-body") }}
{{ stat_helpers.navbar("Covers", artist) }}

<div class="main-content">
    <h1>Total Times Covers Played - {{ total_cover_plays }}</h1>
    {{ stat_helpers.display_ordered_list(all_covers, "All Covered Songs") }}
    <h2>All Covered Artists - {{ total_artists_covered }}</h2>
    <ol>
        {% for _artist, num in all_covered_artists %}
            {% if _artist != artist %}
                <li>{{ _artist }} - {{ num }}
                    <ol>
                        {% for song, num_song in artist_to_songs[_artist] %}
                            <li>{{ song }} - {{ num_song }}</li>
                        {% endfor %}
                    </ol>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</div>
{{ helpers.display_footer() }}
