{% import 'main/includes/helpers.jinja2' as helpers %}

{{  helpers.display_header("Music Analysis", [static('main/styles/style.css'), static('stats/styles/style.css')]) }}

{{ helpers.display_footer() }}