{% import 'main/includes/helpers.jinja2' as helpers %}
{% import 'stats/includes/helpers.jinja2' as stat_helpers %}

{{ helpers.display_top_header("Music Analysis", [static('main/styles/style.css'), static('stats/styles/style.css')], []) }}
{{ helpers.display_bottom_header("nav-body") }}
{{ stat_helpers.navbar("Locations", artist) }}

<div class="main-content">
    <h1>Concert Maps</h1>
    <h2 class="header-center break">Concerts by U.S. County</h2>
    {{ county_graph | safe }}
    <h2 class="header-center">Concerts by U.S. State</h2>
    {{ state_graph | safe }}
    <h2 class="header-center">Concerts by Country</h2>
    {{ country_graph | safe }}
</div>
{{ helpers.display_footer() }}
