{% import 'main/includes/helpers.jinja2' as helpers %}
{% import 'stats/includes/helpers.jinja2' as stat_helpers %}

{{ helpers.display_top_header("Music Analysis", [static('main/styles/style.css'), static('stats/styles/style.css')], []) }}
{{ helpers.display_bottom_header("nav-body") }}
{{ stat_helpers.navbar("Songs", artist) }}

<div class="main-content">
    {{ stat_helpers.display_ordered_list(all_songs, "All Songs") }}
    {{ stat_helpers.display_ordered_list(all_originals, "All Original Songs") }}
</div>
{{ helpers.display_footer() }}