{% import 'main/includes/helpers.jinja2' as helpers %}
{% import 'stats/includes/helpers.jinja2' as stat_helpers %}

{{ helpers.display_top_header("Music Analysis", [static('main/styles/style.css'), static('stats/styles/style.css')], []) }}
{{ helpers.display_bottom_header("nav-body") }}
{{ stat_helpers.navbar("Songs By", artist) }}

<div class="main-content">
    {{ stat_helpers.songs_by("Day", day_song_zip_info) }}
    {{ stat_helpers.songs_by("Month", month_song_zip_info) }}
    {{ stat_helpers.songs_by("Year", year_song_zip_info) }}
</div>
{{ helpers.display_footer() }}
