{% import 'main/includes/helpers.jinja2' as helpers %}
{% import 'stats/includes/helpers.jinja2' as stat_helpers %}

{{ helpers.display_top_header("Music Analysis", [static('main/styles/style.css'), static('stats/styles/style.css')], []) }}
{{ helpers.display_bottom_header("nav-body") }}
{{ stat_helpers.navbar("Tours", artist) }}

<div class="main-content">
    <h1>Tours</h1>
</div>
{{ helpers.display_footer() }}
