{% macro display_songs_values(song_value_list) -%}
    <ol>
        {% for song, num in song_value_list %}
            <li>{{ song }} - {{ num }}</li>
        {% endfor %}
    </ol>
{%- endmacro %}

{% macro display_ordered_list(list, header='', add_length=True) -%}
    {% if header != '' %}
        <h2>{{  header }} {% if add_length %} - {{ list|length }} {% endif %}</h2>
    {% endif %}
    <ol>
        {% for element in list %}
            <li>{{ element }}</li>
        {% endfor %}
    </ol>
{%- endmacro %}

{% macro songs_by(unit, songs_by_info) -%}
    <h2>Songs by {{ unit }}</h2>
    {% for day, song_list, percent in songs_by_info %}
      <h3>{{ day }} {{ percent }}%</h3>
      <ol>
        {% for song, num, unique in song_list %}
          {% if unique %}
            <li class="unique-song">{{ song }} - {{ num }}</li>
          {% else %}
            <li>{{ song }} - {{ num }}</li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endfor %}
{% endmacro -%}

