{% macro display_songs_values(song_value_list) -%}
    <ol>
        {% for song, num in song_value_list %}
            <li>{{ song }} - {{ num }}</li>
        {% endfor %}
    </ol>
{%- endmacro %}

{% macro display_ordered_list(list, header='', add_length=True) -%}
    {% if header != '' %}
        <h2>{{  header }} {% if add_length %} - {{ list|length }} {% endif %}</h2>
    {% endif %}
    <ol>
        {% for element in list %}
            <li>{{ element }}</li>
        {% endfor %}
    </ol>
{%- endmacro %}

{% macro songs_by(unit, songs_by_info) -%}
    <h2>Songs by {{ unit }}</h2>
    {% for day, song_list, percent in songs_by_info %}
        <h4>{{ day }} {{ percent }}%</h4>
        <ol>
        {% for song, num, unique in song_list %}
            {% if unique %}
                <li class="unique-song">{{ song }} - {{ num }}</li>
            {% else %}
                <li>{{ song }} - {{ num }}</li>
            {% endif %}
        {% endfor %}
        </ol>
    {% endfor %}
{% endmacro -%}


{% macro navbar(active, artist) -%}
    {% set items = [(artist, url('stats:artist', kwargs={'artist': artist})),
    ("Typical Concert", url('stats:typical_concert', kwargs={'artist': artist})),
    ("Locations", url('stats:locations', kwargs={'artist': artist})),
    ("Songs", url('stats:songs', kwargs={'artist': artist})),
    ("Songs By", url('stats:songs_by', kwargs={'artist': artist})),
    ("Covers", url('stats:covers', kwargs={'artist': artist})),
    ("Tours", url('stats:tours', kwargs={'artist': artist})),
    ("Venues", url('stats:venues', kwargs={'artist': artist})),
    ("Initial Page", url('stats:initial', kwargs={'artist': artist}))] %}

    {% set main_items = [("Stats", url('stats:index')), ("Home", url('main:index'))] %}

    <div class="top-nav">
        {% for name, link in items %}
            {% if active == name %}
                <a class="active nav-button">{{ name }}</a>
            {% else %}
                <a class="nav-button" href="{{ link }}">{{ name }}</a>
            {% endif %}
        {% endfor %}
        <div style="float: right;" class="drop-down">
            <a class="drop-btn">Main Menu</a>
            <div class="drop-content">
                {% for name, link in main_items %}
                    <a href="{{ link }}">{{ name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{%- endmacro %}


{% macro artistdiv(name, type, country, flag_url, begin_area, begin, end, redirect)  -%}
    <a href="{{ redirect }}">
        <div class="artist-div">
            <h3 class="artist-name">{{ name }}</h3>
            <p>{{ group }} {% if begin_area %} {{ begin_area }} {% endif %} {{ begin }} - {% if end %} {{ end }} {% endif %}</p>
            <img class="country-flag" src="{{ flag_url }}" alt="{{ country }} Flag"/>
            <p>{{ country }}</p>
        </div>
    </a>
{%- endmacro %}
