
.main-content {
    margin-left: 20px;
    margin-right: 20px;
}

.header-break {
    margin-bottom: 25px;
}

.top-nav {
    color: #F4FAFF;
    background-color: #333;
    list-style-type: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin:  0;
    padding: 0;
}

.nav-button {
    float: left;
}

.nav-button, .drop-btn {
    display: block;
    color: #F4FAFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.nav-button:hover, .drop-content a:hover {
    background-color: #7F7F7F;
    text-decoration: none;
    color: #F4FAFF;
}

.active {
    background-color: #A1D2CE;
    color: #333 !important;
    font-weight: bold;
}

.drop-content:hover, .drop-down:hover .drop-content {
    display: block;
}

.drop-content {
    display: none;
}

.drop-down {
    position: relative;
    display: inline-block;
    float: none;
    overflow: hidden;
}

.drop-content a {
    color: #F4FAFF;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.nav-body {
    padding-top: 60px;
    padding-left: 0;
    margin-left: 0;
    background-color: #CECECE;
    color: black;
}

@media (max-width: 979px) {
    .nav-body {
        padding-top: 0;
    }
}
