<!DOCTYPE html>
<html>
  <head>
    <title>{{ artist }} Analysis</title>
    <link rel="stylesheet" href="{{ style_url }}">
  </head>
  <body>
    <h1>Analysis of the {{ artist }}</h1>
    <h2>Typical Concert</h2>
    <ul>
      <li>Average Number of Sets: {{ num_sets }}</li>
      {% for i, set_length in set_lengths %}
        <li>Set {{ i + 1 }}: {{ set_length }} songs</li>
         <ul>
          <li>Number of unique set {{ i + 1}}s: {{ num_solo_sets[i] }}</li>
          <li>Number of duplicate set {{ i + 1}}s: {{ num_multiple_sets[i] }}</li>
          <li>Number of </li>
         </ul>
      {% endfor %}
    <li>Average Encore Length: {{ encore_length }}</li>
      <ul>
        <li>Number of unique encores: {{ num_solo_encores }}</li>
        <li>Number of duplicate encores: {{ num_multiple_encores }}</li>
      </ul>
    </ul>
    <h2>Top {{top_songs}} Songs</h2>
    <ol>
      {% for song in top_songs_list %}
        <li>{{ song }}</li>
      {% endfor %}
    </ol>
    <h2>Songs by Day</h2>
    {% for day, song_list, percent in day_song_zip_info %}
      <h3>{{ day }} ({{ percent }})</h3>
      <ol>
        {% for song, num, unique in song_list %}
          {% if unique %}
            <li class="unique-song">{{ song }} - {{ num }}</li>
          {% else %}
            <li>{{ song }} - {{ num }}</li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endfor %}
    <h2>Songs by Month</h2>
      {% for month, song_list, percent in month_song_zip_info %}
        <h3>{{ month }} ({{ percent }})</h3>
        <ol>
          {% for song, num, unique in song_list %}
            {% if unique %}
              <li class="unique-song">{{ song }} - {{ num }}</li>
            {% else %}
              <li>{{ song }} - {{ num }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      {% endfor %}
    <h2>Songs by Year</h2>
    {% for year, song_list, percent in year_song_zip_info %}
      <h3>{{ year }} ({{ percent }})</h3>
      <ol>
        {% for song, num, unique in song_list %}
          {% if unique %}
            <li class="unique-song">{{ song }} - {{ num }}</li>
          {% else %}
            <li>{{ song }} - {{ num }}</li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endfor %}
    {{ county_graph }}
    <br/>
    {{ state_graph }}
    <br/>
    {{ world_graph }}
    <br/>
    <h2>All Songs - {{ num_songs }}</h2>
    <ol>
      {% for song in all_songs %}
        <li>{{ song }}</li>
      {% endfor %}
    </ol>
    <br/>
    <h2>All Original Songs - {{ num_originals }}</h2>
    <ol>
      {% for song in all_originals %}
        <li>{{ song }}</li>
      {% endfor %}
    </ol>
    <h2>All Covered Songs - {{ num_covers }}</h2>
    <ol>
      {% for song in all_covers %}
        <li>{{ song }}</li>
      {% endfor %}
    </ol>
  </body>
</html>
