{% macro display_header(title, stylesheets, scripts=[], async=[]) -%}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% for link in stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ link }}?{{ range(1, 1000000000000) | random }}" >
        {% endfor %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% for script in scripts %}
            {% if async[loop.index0] %}
                <script src ="{{ script }}?{{ range(1, 1000000000000) | random }}" async></script>
            {% else %}
                <script src ="{{ script }}?{{ range(1, 1000000000000) | random }}"></script>
            {% endif %}
        {% endfor %}
        <meta charset="utf-8" />
    </head>
    <body>
{%- endmacro %}

{% macro display_footer() -%}
    </body>
    </html>
{%- endmacro %}
