{% macro display_songs_values(song_value_list) -%}
    <ol>
        {% for song, num in song_value_list %}
            <li>{{ song }} - {{ num }}</li>
        {% endfor %}
    </ol>
{%- endmacro %}

{% macro display_ordered_list(list, header='', add_length=True) -%}
    {% if header != '' %}
        <h2>header {% if add_length %} - {{ list|length }} {% endif %}</h2>
    {% endif %}
    <ol>
        {% for element in list %}
            <li>{{ element }}</li>
        {% endfor %}
    </ol>
{%- endmacro %}

{% macro songs_by(unit, songs_by_info) -%}
    <h2>Songs by {{ unit }}</h2>
    {% for day, song_list, percent in songs_by_info %}
      <h3>{{ day }} {{ percent }}</h3>
      <ol>
        {% for song, num, unique in song_list %}
          {% if unique %}
            <li class="unique-song">{{ song }} - {{ num }}</li>
          {% else %}
            <li>{{ song }} - {{ num }}</li>
          {% endif %}
        {% endfor %}
      </ol>
    {% endfor %}
{% endmacro -%}

{% macro display_encores(specifier, list) -%}
    <li>{{ specifier }} Played Encores:
        <ol>
            {% for song in list %}
                <li>{{ song[0]|join(" > ") }} - {{ song[1] }}</li>
            {% endfor %}
        </ol>
    </li>
{%- endmacro %}


{% macro display_header(title, stylesheets, scripts=[], async=[]) -%}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% for link in stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ link }}?{{ range(1, 1000000000000) | random }}" >
        {% endfor %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        {% for script in scripts %}
            {% if async[loop.index0] %}
                <script src ="{{ script }}" async></script>
            {% else %}
                <script src ="{{ script }}"></script>
            {% endif %}
        {% endfor %}
        <meta charset="utf-8" />
    </head>
    <body>
{%- endmacro %}

{% macro display_footer() -%}
    </body>
    </html>
{%- endmacro %}
